body,
html {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Lato, sans-serif;
}

.portfolio {
    background-color: #2d303a;
    color: #2d303a;
    min-width: 1020px;
    padding-top: 40px;
}

.portfolio__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    min-width: 940px;
    min-height: 804px;
    max-height: 804px;
}

.portfolio__content h1 {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    letter-spacing: -0.2px;
}

.portfolio__content h3 {
    padding-top: 2px;
    font-size: 18px;
    color: #767e9e;
    font-weight: 100;
    height: 18px;
}

.portfolio__content__tags {
    display: flex;
    justify-content: start;
    padding-top: 0.5px;
}

.portfolio__content__tags__tag {
    line-height: 20px;
    letter-spacing: -0.3px;
    word-spacing: 1px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.3px;
    word-spacing: 1px;
    padding: 0 7px;
    margin-right: 10px;
    box-sizing: border-box;
    color: #767e9e;
    border: 1px solid #666d89;
    border-radius: 5px;
    text-decoration: none;
}

.portfolio__content__tags__tag:hover {
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

.portfolio__content__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 19px 0 42px;
    overflow: hidden;
    max-height: 621px;
}

.portfolio__content__images img {
    margin-bottom: 20px;
}


/* About */

.about {
    background-color: #f2f2f2;
    color: #2d303a;
    min-width: 1020px;
    padding-top: 39px;
}

.about__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    min-width: 940px;
    min-height: 669px;
    max-height: 669px;
}

.about__content h1 {
    height: 30px;
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    letter-spacing: -0.2px;
    font-size: 30px;
    line-height: 1.2;
}

.about__content h3 {
    padding-top: 4px;
    font-size: 18px;
    color: #767e9e;
    font-weight: 100;
    height: 18px;
    line-height: 1.66;
    text-align: justify;
}

.about__content__details {
    padding-top: 69px;
    display: flex;
    justify-content: space-between;
}

.about__content__details__detail {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 300px;
}

.about__content__details__detail:nth-of-type(2) {
    padding-right: 2px;
}

.about__content__details__detail__title {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 900;
    color: #666d89;
    letter-spacing: -0.2px;
    max-width: 300px;
    max-height: 18px;
    overflow: hidden;
}

.about__content__details__detail__description {
    padding-top: 12px;
    font-size: 12px;
    line-height: 21.56px;
    text-align: justify;
    color: #666d89;
}

.about__content__details__detail__buttons {
    padding-left: 1px;
    padding-top: 23.5px;
    min-width: 150px;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
}

.about__content__details__detail__buttons.last {
    padding-left: 0px;
}

.about__content__details__detail__buttons__button {
    border-radius: 50%;
    border: 1px solid #767e9e;
    cursor: pointer;
    max-height: 32px;
    min-height: 32px;
    max-width: 32px;
    min-width: 32px;
    margin-right: -2px;
    box-sizing: border-box;
}

.about__content__details__detail__buttons__button:hover {
    background-color: white;
}

.about__content__details__detail__buttons__button.facebook {
    background-image: url(assets/img/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
}

.about__content__details__detail__buttons__button.google {
    background-image: url(assets/img/google.png);
    background-repeat: no-repeat;
    background-position: center;
}

.about__content__details__detail__buttons__button.twitter {
    background-image: url(assets/img/twitter.png);
    background-repeat: no-repeat;
    background-position: center;
}

.about__content__details__detail__buttons__button.linkedin {
    background-image: url(assets/img/linkedin.png);
    background-repeat: no-repeat;
    background-position: center;
}

.about__bottom_line-about {
    max-height: 6px;
    min-height: 6px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.about__bottom_line-portfolio {
    max-height: 6px;
    min-height: 6px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #323746;
}