/* FONTS */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url('./assets/lato-v16-latin-300.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url('./assets/lato-v16-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url('./assets/lato-v16-latin-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url('./assets/lato-v16-latin-900.woff2') format('woff2');
}


/* FONTS */

body,
html {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
}

.header {
    margin: auto;
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #2c3445;
}

.header__wrapper {
    display: flex;
    margin: auto;
    width: 940px;
    padding-top: 13px;
    justify-content: space-between;
    align-content: center;
    background-color: #2d303a;
}

.header__logo {
    letter-spacing: -0.005em;
    font-size: 12.2px;
    font-style: normal;
    font-weight: 300;
}

.header__logo a {
    text-decoration: none;
    color: white;
}

.header__logo__accent {
    color: #ff6962;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
}

.header__menu {
    display: flex;
    padding-top: 29px;
}

.header__menu__item {
    cursor: pointer;
    font-weight: 500;
    font-size: 12.4px;
    color: white;
    font-stretch: expanded;
    letter-spacing: -0.013em;
    text-transform: uppercase;
}

.header__menu__item:hover {
    font-size: 12px;
    color: #ff6962;
}

.header__menu__separator {
    width: 28px;
    color: white;
    text-align: center;
    opacity: 0.2;
}


/* HEADER */


/* SLIDER */

.slider {
    margin: auto;
    width: 100%;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider__content__wrapper {
    margin: auto;
    max-width: 1022px;
    min-height: 594px;
    display: flex;
    justify-content: space-between;
}

.slider__controls__arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 590px;
}

.slider__controls__arrow img {
    opacity: 0.5;
}

.slider__controls__arrow img:hover {
    opacity: 1;
}

.slider__controls__arrow.right {
    transform: rotate(180deg);
}

.slider__content {
    display: flex;
    width: 795px;
}

.slider__iphone-vert {
    margin-top: 53px;
    background-image: url('assets/iphone-vertical.png');
    width: 240px;
    height: 483px;
}

.slider__iphone-horizon {
    margin-top: 174px;
    margin-left: 73px;
    background-image: url('assets/iphone-horizontal.png');
    width: 483px;
    height: 240px;
}


/* SLIDER */


/* FOOTER ARTICLE */

.footer {
    width: 100%;
    min-height: 494px;
    border-bottom: 6px solid #ffffff;
}

.footer-content-wrapper {
    max-width: 1020px;
    min-height: 494px;
    height: 100%;
    margin: auto;
}

.footer__article {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}

.footer__article__title {
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    color: #666d89;
    padding-top: 30px;
}

.footer__article__content {
    margin-top: 18px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #666d89;
    text-align: left;
    letter-spacing: 0.15px;
}


/* FOOTER ARTICLE */


/* FOOTER SERVICE */

.footer__article-service__separator {
    height: 36px;
}

.footer__service-service__separator {
    height: 23px;
}

.footer__service {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.footer__service__card {
    display: flex;
    justify-content: start;
    min-width: 300px;
    max-width: 300px;
}

.footer__service__card__logo {
    padding-top: 10px;
    width: 60px;
    background-repeat: no-repeat;
}

.footer__service__card__content {
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer__service__card__content__caption {
    padding-left: 20px;
    font-weight: 900;
    font-size: 18px;
    color: #666d89;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.002em;
}

.footer__service__card__content__text {
    padding-top: 8px;
    padding-left: 21px;
    overflow: hidden;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    font-family: Lato, sans-serif;
    text-align: justify;
    color: #666d89;
    letter-spacing: -0.004rem;
}


/* FOOTER SERVICE */