body,
html {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Lato, sans-serif;
    background-color: #2d303a;
}

.form {
    background-color: #f06c64;
    color: #f0d8d9;
    min-width: 1020px;
    padding-top: 40px;
}

.form__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    min-width: 940px;
    min-height: 588px;
    max-height: 588px;
}

.form__content h1 {
    height: 30px;
    font-size: 30px;
    font-weight: 900;
    color: #f0d8d9;
    letter-spacing: -0.2px;
}

.form__content h3 {
    padding-top: 4px;
    font-size: 18px;
    color: #f0d8d9;
    font-weight: 100;
    height: 18px;
    text-align: justify;
    line-height: 1.64;
}

.form__content-wrapper {
    display: flex;
}

.form__content__inputs {
    padding-top: 67px;
    display: flex;
    min-height: 363px;
    flex-direction: column;
}

.form__content__inputs input {
    line-height: 1.2;
    font-size: 12px;
    color: #f48c8f;
    padding-left: 14px;
    letter-spacing: -0.3px;
    font-weight: 400;
    background-color: #d6564f;
    border: 0;
    border-radius: 5px;
    max-width: 604px;
    max-height: 36px;
    min-width: 604px;
    min-height: 36px;
    margin-bottom: 16px;
}

.form__content__inputs input::placeholder {
    line-height: 1.2;
    font-size: 12px;
    color: #f48c8f;
    letter-spacing: -0.3px;
    font-weight: 400;
}

.form__content__inputs textarea {
    padding-top: 11px;
    height: 190px;
    font-size: 12px;
    color: #f48c8f;
    padding-left: 15px;
    letter-spacing: -1.0px;
    word-spacing: -3.0px;
    font-weight: 400;
    background-color: #d6564f;
    border: 0;
    border-radius: 5px;
    width: 603px;
    resize: none;
}

.form__content__inputs textarea::placeholder {
    line-height: 1.2;
    font-size: 12px;
    color: #f48c8f;
    letter-spacing: -0.3px;
    font-weight: 400;
}

.form__content__contacts {
    padding-top: 38px;
    padding-left: 20px;
}

.form__content__contacts h3 {
    padding-top: 5px;
    font-size: 18px;
    color: #f0d8d9;
    font-weight: 700;
    height: 17px;
    text-align: justify;
    line-height: 1.64;
    letter-spacing: 0.1px;
}

.form__content__contacts h4 {
    font-size: 12px;
    color: #f0d8d9;
    text-align: justify;
    font-weight: 400;
    line-height: 1.79;
    letter-spacing: -0.3px;
}

.form__content__contacts-btn:first-of-type {
    padding-top: 6px;
}

.form__content__contacts-btn {
    font-size: 12px;
    color: #f0d8d9;
    text-align: justify;
    font-weight: 400;
    line-height: 1.79;
    letter-spacing: -0.3px;
}

.form__content__contacts-btn img {
    height: 11px;
    width: 11px;
}

.form__content__contacts-btn a {
    padding-left: 11px;
    text-decoration: none;
    color: #f0d8d9;
    letter-spacing: -0.3px;
}

footer {
    background-color: #2d303a;
    min-width: 1020px;
    min-height: 100%;
}

.footer__content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    min-width: 940px;
    max-width: 940px;
    min-height: 76px;
}

.footer__content__copyright {
    padding-top: 30px;
    font-size: 12px;
    color: #626984;
    text-align: justify;
    font-weight: 400;
}

.footer__content__details__detail__buttons {
    padding-right: 2px;
    padding-top: 22px;
    min-width: 150px;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
}

.footer__content__details__detail__buttons.last {
    padding-left: 0px;
}

.footer__content__details__detail__buttons__button {
    border-radius: 50%;
    border: 1px solid #767e9e;
    cursor: pointer;
    max-height: 32px;
    min-height: 32px;
    max-width: 32px;
    min-width: 32px;
    margin-right: -2px;
    box-sizing: border-box;
}

.footer__content__details__detail__buttons__button:hover {
    background-color: white;
}

.footer__content__details__detail__buttons__button.facebook {
    background-image: url(assets/img/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer__content__details__detail__buttons__button.google {
    background-image: url(assets/img/google.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer__content__details__detail__buttons__button.twitter {
    background-image: url(assets/img/twitter.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer__content__details__detail__buttons__button.linkedin {
    background-image: url(assets/img/linkedin.png);
    background-repeat: no-repeat;
    background-position: center;
}